<div class="header-container">
  <div class="header-detail">
    <h2>{{ headerText }}</h2>
    <span class="badge info">{{ itemCounter }}</span>
  </div>
  <div class="table-actions">
    <app-search-bar 
      (searchTermChange)="execSearchTerm($event)"
      [placeholderText]="inputPlaceholder"
    />

    <ng-container *ngIf="showCreateButton">
      <button 
        *ngIf="btnRouterLink; else drawerTrigger" 
        class="action-button create" 
        [routerLink]="btnRouterLink"
      >
        <i class="ph-bold ph-plus"></i>
        <span class="btn-txt">Crear Nuevo</span>
      </button>
  
      <ng-template 
        #drawerTrigger
      >
        <button class="action-button create" (click)="execDrawerTrigger()">
          <i class="ph-bold ph-plus"></i>
          <span class="btn-txt">Crear Nuevo</span>
        </button>
      </ng-template>
    </ng-container>

    <div 
      class="download-wrap"
      *ngIf="showDonwloadBtn"
      [class.loading]="isDwnldRerportLoading"
    >
      <button 
        class="action-button download"
        [ngClass]="{'loading': isDwnldRerportLoading}"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="ph-bold ph-download-simple"></i>
        <span class="btn-txt">Descargar reporte</span>
      </button>
      <div 
        class="download-menu"
        role="menu"
        aria-label="Opciones de descarga"
      >
        <button
          class="menu-item"
          type="button"
          (click)="execDonwloadReport('td')"
          role="menuitem"
        >
          <i class="ph-bold ph-file-pdf"></i>
          <span>HOY</span>
        </button>
        <button
          class="menu-item"
          type="button"
          (click)="execDonwloadReport('wk')"
          role="menuitem"
        >
          <i class="ph-bold ph-file-pdf"></i>
          <span>SEMANA</span>
        </button>
      </div>
    </div>


  </div>
</div>
