.header-container {
  margin: .25rem;
  padding: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .header-detail {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.header-container h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 .5rem;
}

.header-container .table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  display: flex;
  align-items: center;
  border: 1px solid black;
  color: black;
  border-radius: .5rem;
  padding: 10px;
  margin: 0 .5rem;
  font-size: 14px;
  transition: background-color .3s ease, color .3s ease;
  cursor: pointer;
}

.action-button.create {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.action-button.create:hover {
  background-color: #d5dbea;
  color: var(--primary-color);
}

.action-button.download {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.action-button.download:not(.loading):hover {
  background-color: #d9f4ef;
  color: var(--secondary-color);
}

.action-button.loading {
  border: 1px solid #c4bebe;
  color: #c4bebe;
}

.action-button:hover.loading {
  cursor: wait;
  border: 1px solid #c4bebe;
  color: #c4bebe;
}

.action-button .btn-txt {
  margin-left: 4px;
}

.action-button:not(.loading):hover .btn-txt {
  text-decoration: underline;
}