.header-container {
  margin: .25rem;
  padding: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .header-detail {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.header-container h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 .5rem;
}

.header-container .table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-button {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: .5rem;
  padding: 10px;
  margin: 0 .5rem;
  color: var(--primary-color);
  font-size: 14px;
  transition: background-color .3s ease, color .3s ease;
}

.create-button:hover {
  background-color: #D5DBEA;
  color: var(--primary-color);
}

.btn-txt {
  margin-left: 4px;
}

.create-button:hover .btn-txt {
  text-decoration: underline;
}