/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}

.main-content {
  margin: 24px 64px;
  transition: all 0.3s;
}