<div class="container">
  <div class="header-container">
    <button class="back-arrow" 
            [routerLink]="['/dashboard', 'visits']">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <div class="form-header">
      <h1>{{title}}</h1>
      <p>Completa los detalles de la visita médica.</p>
    </div>
    <p class="subtle-text" *ngIf="caller !== 'nv' ">{{idTag}}</p>
  </div>

  <form class="medical-form" 
        autocomplete="off"
        [formGroup]="visitForm"
        (ngSubmit)="onHandleSubmit()">

    <div class="input-row">
      <div class="input-group date-group">
        <label>Date</label>
        <input type="date" 
              formControlName="date"/>
      </div>

      <div class="input-group" style="position: relative;">
        <label>Doctor</label>
        <div class="autocomplete-wrapper">
          <input 
            type="text"
            placeholder="Buscar doctor..."
            [formControl]="doctorSearchControl"
            [value]="selectedDoctor?.name || ''"
            (focus)="showDocDropdown = true"
            (blur)="handleDocBlur()" 
          />
          <div *ngIf="isDocLoading" class="loader"></div>
        </div>
        <ul class="dropdown-list" *ngIf="showDocDropdown && searchDocResults.length > 0">
          <li *ngFor="let doctor of searchDocResults" (mousedown)="selectDoctor(doctor)">
            {{ doctor.name }}
          </li>
        </ul>
      </div>

      <div class="input-group" style="position: relative;">
        <label>Paciente</label>
        <div class="autocomplete-wrapper">
          <input 
            type="text"
            placeholder="Buscar paciente..."
            [formControl]="patientSearchControl"
            [value]="selectedPatient?.name || ''"
            (focus)="showPatDropdown = true"
            (blur)="handlePatBlur()" 
          />
          <div *ngIf="isPatLoading" class="loader"></div>
        </div>
        <ul class="dropdown-list" *ngIf="showPatDropdown && searchPatResults.length > 0">
          <li *ngFor="let patient of searchPatResults" (mousedown)="selectPatient(patient)">
            {{ patient.name }}
          </li>
        </ul>
      </div>
    </div>

    <div class="fancy-divider">
      <span>preclinica</span>
    </div>

    <div class="input-columns">
      <!-- Columna izquierda (75%) -->
      <div class="left-column">
        <div class="number-input-group">
          <label>Presion</label>
          <div class="number-input">
            <input type="text" 
                  formControlName="pressure" 
                  placeholder="Ej. 120/80 mmHg"/>
          </div>
        </div>
        <div class="number-input-group">
          <label>Temperatura</label>
          <div class="number-input">
            <input type="number" 
                  formControlName="temperature"
                  placeholder="Ej. 36º"/>
            <div class="button-group">
              <button class="increment" [attr.data-caller]="'temperature'" (click)="updateValue($event, 1)">+</button>
              <button class="increment" [attr.data-caller]="'temperature'" (click)="updateValue($event, -1)">-</button>
            </div>
          </div>
        </div>
        <div class="number-input-group">
          <label>Altura</label>
          <div class="number-input">
            <input type="number" 
                  formControlName="height" 
                  placeholder="Ej. 1.75"/>
            <div class="button-group">
              <select>
                <option value="mts">cms</option>
                <option value="pgs">pgs</option>
              </select>
            </div>
          </div>
        </div>
        <div class="number-input-group">
          <label>Glucometria</label>
          <div class="number-input">
            <input type="number"
                  formControlName="glucometry"
                  placeholder="Ej. 90 mg/dL"/>
            <div class="button-group">
              <button class="increment" [attr.data-caller]="'glucometry'" (click)="updateValue($event, 1)">+</button>
              <button class="increment" [attr.data-caller]="'glucometry'" (click)="updateValue($event, -1)">-</button>
            </div>
          </div>
        </div>
        <div class="number-input-group">
          <label>Oxigenacion</label>
          <div class="number-input">
            <input type="number"
                  formControlName="oxygenation" 
                  placeholder="Ej. 100%"/>
            <div class="button-group">
              <button class="increment" [attr.data-caller]="'oxygenation'" (click)="updateValue($event, 1)">+</button>
              <button class="increment" [attr.data-caller]="'oxygenation'" (click)="updateValue($event, -1)">-</button>
            </div>
          </div>
        </div>
        <div class="number-input-group">
          <label>Peso</label>
          <div class="number-input">
            <input type="number" 
                  formControlName="weight"
                  placeholder="Ej. 120"/>
            <div class="button-group">
              <select>
                <option value="kg">kg</option>
                <option value="lbs">lbs</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="divider-vertical"></div>
      <!-- Columna derecha (25%) -->
      <div class="right-column">
        <div class="calculated-input-group">
          <label>IMC</label>
          <input class="calculated-input"
                type="text" 
                formControlName="BMI"
                placeholder="Ej. 22.86"/>
        </div>

        <div class="calculated-input-group">
          <label>% De Grasa</label>
          <input class="calculated-input"
                type="text" 
                formControlName="fatPercentage"
                placeholder="Ej. 25.8%"/>
        </div>

        <div class="calculated-input-group">
          <label>Grasa Visceral</label>
          <input class="calculated-input" 
                type="text" 
                formControlName="visceralFat"
                placeholder="Ej. 1.07"/>
        </div>

        <div class="calculated-input-group">
          <label>Edad Segun Peso</label>
          <input class="calculated-input" 
                type="text" 
                formControlName="ageAccordingToWeight"
                placeholder="Ej. 32"/>
        </div>
      </div>
    </div>

    <div class="fancy-divider">
      <span>Antecedentes</span>
    </div>

    <div class="textareas-row">
      <div class="textarea-group">
        <label>Patologicos</label>
        <textarea 
          formControlName="pathologicalHst"
          placeholder="Escribe aquí el antecedente patológico del paciente."></textarea>
      </div>

      <div class="textarea-group">
        <label>Familiares</label>
        <textarea 
          formControlName="familyHst"
          placeholder="Escribe aquí el antecedente familiar del paciente."></textarea>
      </div>
    </div>

    <div class="textareas-row">
      <div class="textarea-group">
        <label>Quirurgicos</label>
        <textarea 
          formControlName="surgicalHst"
          placeholder="Escribe aquí el antecedente quirúrgico del paciente."></textarea>
      </div>

      <div class="textarea-group">
        <label>Habitos</label>
        <textarea 
          formControlName="backgroundHst"
          placeholder="Escribe aquí el antecedente por habitos del paciente."></textarea>
      </div>
    </div>

    <div class="fancy-divider">
      <span>intervencion</span>
    </div>

    <div class="textareas-row">
      <div class="textarea-group">
        <label>Diagnostico</label>
        <textarea formControlName="diagnosis"
                  placeholder="Escribe aquí el diagnóstico detallado del paciente."></textarea>
      </div>
    
      <div class="textarea-group">
        <label>Tratamiento</label>
        <textarea formControlName="treatment"
                  placeholder="Describe el plan de tratamiento y medicamentos recomendados."></textarea>
      </div>
    </div>
    
    <div class="textarea-full">
      <label>Notas</label>
      <textarea formControlName="notes"
                placeholder="Añade aquí cualquier información adicional o seguimiento de la visita."></textarea>
    </div>

    <button class="submit-btn" 
            
            type="submit">
      {{actionButtonText}}
    </button>
  </form>
</div>
