<app-search-bar (searchTermChange)="onSearchTermChange($event)"></app-search-bar>

<div class="visit-table-container">
  <table class="visit-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Last Visit</th>
        <th>Diagnosis</th>
        <th>
          <button class="plus-circle  table-opts"
                [routerLink]="urlSegment !== 'emergency' ? ['new-visit'] : ['new-visit']">
            <i class="fa-solid fa-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody style="background-color: white;">
      <tr *ngFor="let visit of dataToRender(); let idx = index">
        <td>{{visit.id}}</td>
        <td>{{visit.doctorName}}</td>
        <td>{{visit.patientName}}</td>
        <td><span class="badge date">{{visit.lastVisitDate | formatDate}}</span></td>
        <td>
          <div class="tooltip">
            <span class="truncate-text">{{visit.diagnosis}}</span>
            <span class="tooltip-text">
              {{visit.diagnosis}}
            </span>
          </div>
        </td>
        <td>
          <div class="opts">
            <div class="opts-btns edit"
                (click)="handleSelectedVisit(visit.id)">
              <i class="ph ph-pencil"></i>
            </div>
            <div class="opts-btns delete"
                  (click)="deleteSelectedVisit(visit.id)">
              <i class="ph ph-trash-simple"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [offset]="offset"
  [totalRegistries]="totalRegistries"
  (pageChange)="onPageChange($event)"
/>