<custom-header 
  [headerText]="header"
  [itemCounter]="totalRegistries"
  [btnRouterLink]="'new-visit'"
  (searchTerm)="onSearchTermChange($event)"
/>

<section *ngIf="visits.length > 0; else nodata">
  <div class="visit-table-container">
    <table class="visit-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Identidad</th>
          <th>Paciente</th>
          <th>Doctor</th>
          <th>Ultima Visita</th>
          <th>Diagnostico</th>
          <th></th>
        </tr>
      </thead>
      <tbody style="background-color: white;">
        <tr 
          [ngClass]="{
            'pending': visit.state === 'Pendiente',
            'payed': visit.state === 'Pagado'
          }"
          (click)="handleSelectedVisit(visit.id)" 
          *ngFor="let visit of dataToRender(); let idx = index"
        >
          <td>{{visit.id}}</td>
          <td>{{visit.patientId}}</td>
          <td>{{visit.patientName}}</td>
          <td>{{visit.doctorName}}</td>
          <td><span class="badge date">{{visit.lastVisitDate | formatDate}}</span></td>
          <td>
            <div class="tooltip">
              <span class="truncate-text">{{visit.diagnosis}}</span>
                <span class="tooltip-text" [style]="{visibility: visit.diagnosis ? 'visible' : 'hidden'}">
                  {{visit.diagnosis}}
                </span>
            </div>
          </td>
          <td class="opts-wrapper" (click)="$event.stopPropagation()">
            <toggle-opts 
              (deleteEvent)="deleteSelectedVisit( visit.id )"
              (editEvent)="handleSelectedVisit( visit.id )"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <app-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [offset]="offset"
    [totalRegistries]="totalRegistries"
    [pageSize]="limit"
    (pageChange)="onPageChange($event)"
  />
</section>

<ng-template #nodata>
  <no-data />
</ng-template>