.visit-table-container {
  height: 100%;
  width: 100%;
  max-height: 78vh;
  min-height: 78vh;
  margin: 10px auto;
  padding-top: 0;
  background-color: #f9f9f9;
  overflow-y: auto;
  border-radius: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.visit-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-opts {
  cursor: pointer;
  text-align: center;
  line-height: 1;
  font-family: 'Poppins-Bold';
  font-size: 14px;
}

.plus-circle {
  border: 1.5px solid #333333;
  border-radius: 50%;     
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  transition: background-color 0.3s;
}

.visit-table th,
.visit-table td {
  font-size: .75rem;
  padding: .5rem 1rem;
  text-align: center;
  width: 18%;
}

.visit-table th:first-child,
.visit-table td:first-child,
.visit-table th:last-child
.visit-table td:last-child{
  line-height: 1;
  width: 5%;
}

.visit-table th {
  font-size: .75rem;
  background-color: #f5f9fc;
  color: #333333;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}

.visit-table tr {
  border-bottom: 1px solid #ddd;
}

.visit-table tr.pending {
  background-color: #fffbea;
}

.visit-table tbody tr.pending:hover {
  background-color: #fff5cc;
  cursor: pointer;
}

.visit-table tr.payed {
  background-color: #eaf6f0;
}

.visit-table tbody tr.payed:hover {
  background-color: #d9efe2;
  cursor: pointer;
}

td:nth-child(6) .truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
}

.tooltip {
  white-space: normal;
  text-align: center;
  position: relative;
}

.tooltip .tooltip-text {
  background-color: #212b46;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  color: #fff;
  font-size: .75rem;
  font-weight: 400;
  text-align: center;
  margin-left: -100px;
  padding: 5px 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  z-index: 1;
  transition: opacity .8s;
  height: auto;
  white-space: normal;
}

td:nth-child(6):hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

td .opts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
}

.opts .opts-btns {
  cursor: pointer;
  text-align: center;
  line-height: 1;
  font-family: 'Poppins-Bold';
  font-size: 1rem;
}

.opts-btns.edit {
  color: navy
}

.opts-btns.delete {
  color: red
}

/* Button styles for actions */
.btn {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit {
  background-color: #ffc107;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  margin-left: 5px;
}

.btn-edit:hover {
  background-color: #e0a800;
}

.btn-delete:hover {
  background-color: #c82333;
}