<custom-header 
  [itemCounter]="12"
  [headerText]="'Facturación'"
  [isDwnldRerportLoading]="downloadingPdfReport"
  (btnDownloadReport)="getPdfReport()"
  (searchTerm)="onSearchTermChange( $event )"
  (btnDrawerTrigger)="bootstrapInvoiceDrawer()"
/>

<section *ngIf="bodyContent.length > 0; else nodata">
  <app-custom-table 
    [headers]="headers"
    [bodyContent]="bodyContent"
    (insertItem)="bootstrapInvoiceDrawer()"
    (finishUpdatingItem)="bootstrapInvoiceDrawerToUpd($event)"
    (deleteSelectedItem)="deleteSelectedInvoice($event)"/>
  <app-drawer />

  <app-pagination 
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [offset]="offset"
    [totalRegistries]="totalRegistries"
    [pageSize]="limit"
    (pageChange)="onPageChange($event)"
  />
</section>

<ng-template #nodata>
  <no-data />
</ng-template>