<form class="invoice-form"
      autocomplete="off"
      [formGroup]="invoiceForm"
      (ngSubmit)="onHandleSubmit()">
  <div 
    class="form-group" 
    [ngStyle]="{
      display: 'flex',
      flexDirection: 'row',
      alignItems: 'center',
      justifyContent: 'space-between'
    }"
  >
    <div class="toggle-container">
      <p>SAR</p>
      <input 
        class="input-toggle" 
        type="checkbox"
        id="toggle-switch"
        defaultChecked
      >
      <label for="toggle-switch" class="toggle-switch"></label>
    </div>
    <input type="date" formControlName="date">
  </div>

  <div class="form-group">
    <label>Cliente</label>
    <select formControlName="patient">
      <option value="">Selecciona un cliente</option>
      @for(p of options.patients; track $index) {
        <option [value]="p.id">{{p.name}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label>Doctor</label>
    <select formControlName="doctor">
      <option value="">Selecciona un doctor</option>
      @for (d of options.doctors; track $index) {
        <option [value]="d.id">{{d.name}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label>Servicio</label>
    <select name="services" (change)="handleChange($event)">
      <option value="">Selecciona un servicio</option>
      @for(s of options.services; track $index) {
        <option [value]="s.id">{{s.serviceName}}</option>
      }
    </select>
    @if(selectedServices.length > 0) {
      <ul class="list">
        @for(ss of selectedServices; track $index) {
          @if(ss.id) {
            <li>
              <span>{{ss.description}}</span>
              <i (click)="removeListItem(ss.id, $index)" class="icon fa-solid fa-x"></i>
            </li>
          }
        }
      </ul>
    }
  </div>

  <div class="form-group">
    <label for="customer">Tipo de pago</label>
    <select formControlName="pMethod" name="pMethod">
      <option value="">Selecciona un metodo de pago</option>
      @for(p of options.pMethods; track $index) {
        <option [value]="p.id">{{p.paymentDescription}}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label>Monto</label>
    <input type="number" formControlName="amount" placeholder="0.00">
  </div>

  <div class="form-group">
    <label>Descripción</label>
    <textarea formControlName="description" rows="3" placeholder="Detalles de la factura"></textarea>
  </div>

  <div class="form-actions">
    <button class="btn cancel"
            type="button"
            (click)="onHandleCancel()">
      Cancelar
    </button>
    <button class="btn submit"
          type="submit" 
          [disabled]="invoiceForm.invalid">
      {{drawerTexts().btnText}}
    </button>
  </div>
</form>
