.invoice-form {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-gray);
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px rgba(131, 131, 222, 0.5);
  background-color: #fff;
}

.form-actions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.btn {
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.btn.submit {
  background: #28a745;
}

.btn.cancel {
  background: #dc3545;
}

.btn.submit:hover {
  background: #218838;
}

.btn.cancel:hover {
  background: #c82333;
}




.toggle-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.toggle-container p {
  margin: 0 .5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-gray);
}

.input-toggle {
  display: none;
}

.toggle-switch {
  position: relative;
  background-color: #d2d2d2;
  height: 1.5rem;
  width: 3rem;
  border-radius: 200px;
  cursor: pointer;
  transition: .2s;
}

.toggle-switch::before {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  border-radius: 200px;
  margin: 4px;
  transition: .2s;
}

.input-toggle:checked + .toggle-switch {
  background-color: var(--secondary-color);
}

.input-toggle:checked + .toggle-switch::before {
  transform: translateX(24px);
}