<div 
  [class]="toggledSidebar ? 'sidebar active' : 'sidebar'"
  (mouseleave)="handleMouseLeaveSubmenuOnCollapse()"
>
  <div 
    class="menu-btn"
    (click)="toggleSidebar()"
  >
    <i class="ph-bold ph-caret-left"></i>
  </div>
  <div class="head">
    <div class="user-img">
      <img *ngIf="logoUrl; else defaultIcon" [src]="logoUrl" alt="Logo de la empresa" (error)="onLogoError()">
      <ng-template #defaultIcon>
        <i class="fa-solid fa-hospital"></i>
      </ng-template>
    </div>
    <div class="user-details">
      <p class="title">{{user.role}}</p>
      <p class="name">{{user.name}}</p>
    </div>
  </div>
  <div class="nav">
    <div class="menu">
      <p class="title">Principal</p>
      <ul>
        <li *ngFor="let item of items(); let idx = index" 
          [ngClass]="{ active: toggledStates[idx], 'has-submenu': item.hasSubmenu }">
          <a [routerLink]="item.routerLink" 
            (click)="toggleItem(idx)">
            <i [class]="'icon ' + item.icon"></i>
            <span class="text">{{item.label}}</span>
            <i *ngIf="item.hasSubmenu" [class]="'arrow ' + item.arrowIcon"></i>
          </a>
          <ul *ngIf="item.hasSubmenu" 
              [class]="toggledStates[idx] ? 'sub-menu show' : 'sub-menu'">
            <li (click)="handleSubmenuOnCollapse(idx)"
              *ngFor="let subitem of item.subItems; let i = index">
              <a [routerLink]="subitem.routerLink">
                <span class="text" 
                    [style.color]="toggledSidebar ? '#fff' : '#fff'">
                  {{subitem.label}}
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu account">
    <p class="title">Cuenta</p>
    <ul>
      <li [ngClass]="{ active: settingsOpen, 'has-submenu': true }">
        <a (click)="toggleSettings()">
          <i class="icon ph-bold ph-gear"></i>
          <span class="text">Configuraciones</span>
          <i class="arrow ph-bold ph-caret-down"></i>
        </a>
        <ul [class]="settingsOpen ? 'sub-menu show' : 'sub-menu'">
          <li (click)="handleSettingsSubmenuOnCollapse()">
            <a [routerLink]="['settings/my-profile']">
              <span class="text">Mi Perfil</span>
            </a>
          </li>
          <li *ngIf="canManageSettings()" (click)="handleSettingsSubmenuOnCollapse()">
            <a [routerLink]="['settings/staff']">
              <span class="text">Personal</span>
            </a>
          </li>
          <li *ngIf="canManageSettings()" (click)="handleSettingsSubmenuOnCollapse()">
            <a [routerLink]="['settings/permissions']">
              <span class="text">Permisos</span>
            </a>
          </li>
          <li *ngIf="canManageSettings()" (click)="handleSettingsSubmenuOnCollapse()">
            <a [routerLink]="['settings/empresa']">
              <span class="text">Empresa</span>
            </a>
          </li>
        </ul>
      </li>
      <li (click)="onLogout()">
        <a>
          <i class="icon ph-bold ph-sign-out"></i>
          <span class="text">Salir</span>
        </a>
      </li>
    </ul>
  </div>
</div>
