<form 
  class="login-form"
  autocomplete="off"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
>

    <span class="form-title">Login</span>

    <div class="wrap-input">
        <span class="label-input">Correo</span>
        <input class="input"
                type="email"
                formControlName="email"
                placeholder="Correo electronico">
        <span class="focus-input"></span>
    </div>

    <div class="wrap-input">
    <span class="label-input">Contraseña</span>
    <input class="input"
            type="password"
            formControlName="password"
            placeholder="Ingresa tu contraseña">
    <span class="focus-input"></span>
    </div>


    <div style="text-align: center; padding-top: .5rem; padding-bottom: 2rem;"></div>

    <div class="container-btn">
        <div class="wrapper-btn">
            <div class="background-btn"></div>
            <button class="form-btn"
                    [disabled]="loginForm.invalid"
                    type="submit">
                Login
            </button>
        </div>
    </div>

    <div class="container-nav">
        <span   class="txt1" 
                style="padding-bottom: 1rem;">
            ¿No tienes cuenta?
        </span>

        <a routerLink="/auth/register" class="txt2">
            Crear una aquí
        </a>
    </div>
</form>