<custom-header 
    [btnRouterLink]="'new-item'"
    [itemCounter]="totalRegistries"
    [headerText]="headerText"
    [inputPlaceholder]="'Buscar producto...'"
    [isDwnldRerportLoading]="downloadingPdfReport"
    [showCreateButton]="showCreateButton && canCreateInventory()"
    (searchTerm)="onSearchTermChange($event)"
/>

<section *ngIf="bodyContent.length > 0; else nodata">
    <div class="inv-table-container">
        <table class="inv-table">
            <thead>
                <tr>
                    <th *ngFor="let h of headers">{{ h }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for ( item of bodyContent; track $index ) {
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.prodName }}</td>
                        <td>{{ item.prodDesc }}</td>
                        <td>{{ item.prodQuantity }}</td>
                        <td>{{ item.prodUnitPrice }}</td>
                        <td 
                            class="opts-wrapper" 
                            (click)="$event.stopPropagation()" 
                            (keydown)="$event.stopPropagation()"
                        >
                            <toggle-opts
                                *ngIf="(showTransferOpt && canTransferInventory()) || (enableEdit && canUpdateInventory()) || (enableDelete && canUpdateInventory())"
                                [showTransferOpt]="showTransferOpt && canTransferInventory()"
                                [showEditOpt]="enableEdit && canUpdateInventory()"
                                [showDeleteOpt]="enableDelete && canUpdateInventory()"
                                (transferEvent)="bootstrapInvoiceDrawer( item.id )"
                                (deleteEvent)="handleDeleteItem()"
                                (editEvent)="handleSelectedItem( item.id )"
                            />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<ng-template #nodata>
  <no-data />
</ng-template>
<app-drawer/>
<app-pagination 
    *ngIf="bodyContent.length > 0"
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [offset]="offset"
    [totalRegistries]="totalRegistries"
    [pageSize]="limit"
    (pageChange)="onPageChange($event)"
/>
