<div class="opts">
    <div class="opts-toggle">
        <i class="ph ph-dots-three-vertical"></i>
        <div class="opts-menu" >
            @if( showTransferOpt ) {
                <div 
                    class="opts-btns"
                    (click)="execTransferEvent()"
                    (keypress)="execTransferEvent()"
                >
                    <i class="ph ph-monitor"></i> Traspaso
                </div>
            }

            @if ( showViewOpt ) {
                <div 
                    class="opts-btns"
                    (click)="execViewEvent()"
                    (keypress)="execViewEvent()"
                >
                    <i class="ph ph-eye"></i> Ver
                </div>
            }

            @if ( showMovementsOpt ) {
                <div
                    class="opts-btns"
                    (click)="execMovementsEvent()"
                    (keypress)="execMovementsEvent()"
                >
                    <i class="ph ph-arrows-left-right"></i> Movimientos
                </div>
            }

            @if ( showEditOpt ) {
                <div 
                    class="opts-btns"
                    [ngClass]="{ 'blocked': isEditBlocked }" 
                    (click)="!isEditBlocked && execEditEvent()"
                    (keypress)="!isEditBlocked && execEditEvent()"
                >
                    <i class="ph ph-pencil-simple"></i> Editar
                </div>
            }

            @if ( showDeleteOpt ) {
                @if ( showTransferOpt || showViewOpt || showMovementsOpt || showEditOpt ) {
                    <div class="opts-divider"></div>
                }

                <div 
                    class="opts-btns delete" 
                    (click)="execDeleteEvent()"
                    (keypress)="execDeleteEvent()"
                >
                    <i class="ph ph-trash-simple"></i> {{ deleteLabel }}
                </div>
            }
        </div>
    </div>
</div>
