<div class="settings-container">
  <div class="menu">
    <ul>
      <li><span>My profile</span></li>
      <li><span class="active">Permissions</span></li>
    </ul>
  </div>
  <div class="panel">
    <h3>Roles and Capabilities</h3>
    <table class="info-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Admin</th>
          <th>Doctor</th>
          <th>Nurse</th>
          <th>Receptionist</th>
          <th>Attendant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dereck</td>
          <td>
            <div class="toggle-container">
              <input 
                class="input-toggle" 
                type="checkbox"
                id="toggle-switch1"
                defaultChecked>
              <label for="toggle-switch1" class="toggle-switch"></label>
            </div>
          </td>
          <td>
            <div class="toggle-container">
              <input 
                class="input-toggle" 
                type="checkbox"
                id="toggle-switch2"
                defaultChecked>
              <label for="toggle-switch2" class="toggle-switch"></label>
            </div>
          </td>
          <td>
            <div class="toggle-container">
              <input 
                class="input-toggle" 
                type="checkbox"
                id="toggle-switch3"
                defaultChecked>
              <label for="toggle-switch3" class="toggle-switch"></label>
            </div>
          </td>
          <td>
            <div class="toggle-container">
              <input 
                class="input-toggle" 
                type="checkbox"
                id="toggle-switch4"
                defaultChecked>
              <label for="toggle-switch4" class="toggle-switch"></label>
            </div>
          </td>
          <td>
            <div class="toggle-container">
              <input 
                class="input-toggle" 
                type="checkbox"
                id="toggle-switch"
                defaultChecked>
              <label for="toggle-switch" class="toggle-switch"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
