<div class="settings-container">
  <div class="menu">
    <ul>
      <li>
        <span 
          [routerLink]="['my-profile']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          Mi Perfil
        </span>
      </li>
      <li *ngIf="canManagePermissions()">
        <span
          [routerLink]="['permissions']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          Accesibilidad
        </span>
      </li>
    </ul>
  </div>
  <div class="panel">
    <router-outlet></router-outlet>
  </div>
</div>
