.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
  z-index: 2;
}

.drawer-overlay.show {
  visibility: visible;
  opacity: 1;
}

.drawer {
  position: fixed;
  top: 0;
  right: -350px;
  height: 100%;
  width: 350px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, .2);
  transition: right .3s;
}

.drawer.open {
  right: 0;
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: 0 1rem;
}

.drawer-header h2 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.drawer-header button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  color: var(--color-white);
  transition: background-color .3s ease, transform .3s ease;
}

.drawer-header button:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
  transform: rotate(180deg);
}

.icon {
  vertical-align: middle;
}


