<form class="transfer-form" [formGroup]="invoiceForm">
    <div class="form-group">
        <label for="subinv">Subinventario</label>
        <select id="subinv" formControlName="subinv">
            <option value="">Selecciona una subinventario</option>
            <option value="2">Emergencia</option>
            <option value="3">Quirofano</option>
            <option value="4">Hospitalización</option>
        </select>
    </div>
    <div class="form-group">
        <label for="qty">Cantidad</label>
        <select id="qty" formControlName="qty">
            <option value="">Selecciona una qty</option>
            @for (q of itemQuantity; track q) {
                <option [value]="q">{{ q }}</option>
            }
        </select>
    </div>

    <div class="form-actions">
        <button 
            class="btn cancel"
            type="button"
            (click)="onHandleCancel()"
        >
            Cancelar
        </button>
        <button 
            class="btn submit"
            type="submit"
            (click)="onHandleSubmit()"
        >
            Generar
        </button>
    </div>
</form>
