.bill-table-container {
  height: 100%;
  width: 100%;
  max-height: 78vh;
  min-height: 78vh;
  margin: 10px auto;
  padding-top: 0;
  background-color: #f9f9f9;
  overflow-y: auto;
  border-radius: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.bill-table th,
.bill-table td {
  font-size: .75rem;
  padding: .5rem .25rem;
  text-align: center;
  width: 15%;
}

.bill-table th:last-child,
.bill-table td:last-child {
  width: 10%;
}

.bill-table th {
  background-color: #f5f9fc;
  color: #333;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}

.bill-table tr {
  border-bottom: 1px solid #ddd;
}

.bill-table tr:hover {
  background-color: #f1f1f1;
}

td .opts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.plus-circle {
  border: 1.5px solid #333;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition: background-color .3s;
}

.opts .opts-btns {
  cursor: pointer;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
}

.opts-btns.action {
  color: navy
}

.opts-btns.delete {
  color: red;
}
