<div class="bill-table-container">
  <table class="bill-table">
    <thead>
      <tr>
        <th *ngFor="let h of headers">{{ h }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(item of bodyContent; track $index) {
        <tr>
          <td>{{ item.InvoiceNumber }}</td>
          <td>{{ item.Doctor }}</td>
          <td>{{ item.Paciente }}</td>
          <td><span class="badge date">{{ item.FechaFactura.split('T')[0] }}</span></td>
          <td><span [className]="'badge ' + (item.Estado === 'Pagado' ? 'active' : 'warning')">{{ item.Estado }}</span></td>
          <td>{{ item.Monto }}</td>
          <td class="opts-wrapper">
            <toggle-opts
              [isEditBlocked]=" item.Estado === 'Pagado' ? true : false"
              (editEvent)="execItemUpdate( item.InvoiceNumber )"
              (deleteEvent)="execItemDeletion( item.InvoiceNumber )"
            />
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

